{% extends 'mainapp/base.html' %}
{% load static %}
{% load mathfilters %}

{%block title%}
Cart-View
{%endblock%}

{% block style %}

{% endblock %}

{%block body%}
<!--================ Cart Area =================-->
<section class="cart_area">
    <div class="container">
        <div class="mt-5"></div>
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in cart_items %}
                        <tr>
                            <td>
                                <div class="media">
                                    <div class="d-flex">
                                        <img width="152" height="152" src="{{item.product.img.url}}" alt="" />
                                    </div>
                                    <div class="media-body">
                                        <a href="{% url 'product' id=item.product.id %}">{{item.product.name}}</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h5>${{item.product.price}}</h5>
                            </td>
                            <td>
                                <div class="product_count">
                                    <input disabled type="text" name="qty" value="{{item.qty}}"
                                        class="input-text qty" />
                                </div>
                            </td>
                            <td>
                                <h5 id="total_price_{{forloop.counter}}">${{item.product.price|mul:item.qty}}</h5>
                            </td>

                        </tr>
                        {% endfor %}
                        <tr class=" bottom_button">
                            <td></td>
                            <td></td>
                            <td>
                                <h5>Subtotal</h5>
                            </td>
                            <td>
                                <h5 id="subTotal">$00.00</h5>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                <h5>GST (18%)</h5>
                            </td>
                            <td>
                                <h5 id="gst">$00.00</h5>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                <h5>Total</h5>
                            </td>
                            <td>
                                <h5 id="total">$00.00</h5>
                            </td>
                        </tr>
                        {% if cart_items.0 %}
                        <tr class="out_button_area text-right">
                            <td colspan="4" class="checkout-btn">
                                <div class="checkout_btn_inner">
                                    <a class="primary-btn" href="{% url 'checkout' %}">Proceed to checkout</a>
                                </div>
                            </td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!--================ End Cart Area =================-->

{%endblock%}

{%block script%}
<script>
    {% if cart_items.0 %}
    window.onload = (event) => {
        cart_item_length = {{ cart_items | length }}
        var subTotal = 0.0
        console.log(cart_item_length)
        for (var i = 1; i <= cart_item_length; i++) {
            var price = document.getElementById(`total_price_${i}`).innerText
            price = parseFloat(price.substring(1))
            subTotal += price
            console.log(subTotal)
        }
        document.getElementById(`subTotal`).innerText = `$${parseFloat(subTotal).toFixed( 2 )}`
        var gst = subTotal * 0.18
        document.getElementById(`gst`).innerText = `$${parseFloat(gst).toFixed( 2 )}`
        var total = subTotal + gst
        document.getElementById(`total`).innerText = `$${parseFloat(total).toFixed( 2 )}`
    }
    {% endif %}
</script>
{%endblock%}